@model Postter.Application.ViewModels.LoginViewModel
@{
    ViewData["Error"] = "";
    Layout = "_SimpleLayout";
}
<div class="container container-center">
    <div class="logo">
        <i class="fas fa-cat pink-line"></i>
    </div>
    <div class="bold-text pl-0" style="font-size: 25px">
        Log in to Postter
    </div>
    <p class="text-white">@ViewData["Error"].ToString()</p>
    <form method="post" asp-controller="Account" asp-action="Login"
          asp-route-returnUrl="@Model.ReturnUrl">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group row px-3 py-2">
            <input asp-for="NickName" type="text" class="postter-form postter-form-control w-100 bordered p-3" id="usernameForm" placeholder="Username" style="font-size: 16px"/>
            <span asp-validation-for="NickName"></span>
        </div>
        <div class="form-group row px-3 py-2">
            <input asp-for="Password" type="password" class="postter-form postter-form-control w-100 bordered p-3 rounded" id="passwordForm" placeholder="Password" style="font-size: 16px"/>
            <span asp-validation-for="Password"></span>
        </div>
        <div class="pb-3 pl-1 text-white">
            <input asp-for="RememberMe"/>
            <span class="pl-2 secondary-text">Remember me</span>
        </div>
        <button class="postter-button w-100" style="height: 50px" type="submit">Sign In</button>
    </form>

    <div class="d-flex flex-column justify-content-around mt-4">
        <div class="text-center">
            <a style="font-size: 16px; text-decoration: none; color: var(--pinkColor);" asp-area="" asp-controller="Account" asp-action="Register">Sign up for Postter</a>
        </div>
        @{
            if (Model.ExternalLogins.Count != 0)
            {
                <form method="post" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
                    @foreach (var provider in Model.ExternalLogins)
                    {
                        <div class="secondary-text text-center">
                            or
                        </div>
                        <div class="text-center">
                            <button class="border-0" style="font-size: 14px; text-decoration: none; color: var(--pinkColor); background-color: transparent;"
                                    type="submit" name="provider" value="@provider.Name"
                                    title="Sign in with @provider.DisplayName">
                                Sign in with @provider.DisplayName
                            </button>
                        </div>
                    }
                </form>
            }
        }
    </div>
</div>