@model Postter.Application.ViewModels.LoginViewModel
<h2>Вход в приложение</h2>
@{
    ViewData["Error"] = "";
}
<p>@ViewData["Error"].ToString()</p>
<form method="post" asp-controller="Account" asp-action="Login"
      asp-route-returnUrl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="NickName"></label><br />
        <input asp-for="NickName" />
        <span asp-validation-for="NickName"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="RememberMe"></label><br />
        <input asp-for="RememberMe" />
    </div>
    <div>
        <input type="submit" value="Войти" />
    </div>
</form>
<div>
    <h2>Дополнительный вход</h2>
    <hr/>
    @{
        if (Model.ExternalLogins.Count == 0)
        {
            <div>Не настроены дополнительные сервисы для логирования</div>
        }
        else
        {
            <form method = "post" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
                <div>
                    @foreach (var provider in Model.ExternalLogins)
                    {
                        <button type="submit" class="btn btn-primary"
                                name="provider" value="@provider.Name"
                                title="Login using your @provider.DisplayName account">
                            @provider.DisplayName
                        </button>
                    }
                </div>
            </form>
        }
    }
</div>